<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="http://backbonejs.org/backbone-min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
            crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    </head>

    <body>
        <section class="container">

            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="{{data['repo_link']}}" target="_blank">
                    <h4>{{data['repo_name']}}</h4>
                </a>

                <a href="{{ data['pulls_url'] }}" class="list-group-item list-group-item-action">{{ data['pulls_url'] }}</a>
                <br>

        </section>
    </body>

</html>